latest.dump
codeclimate-test-reporter
./.git
./log
./docs

# Ignore tmp files
./tmp
./tmp/pids
!./tmp/pids               # need to keep for puma configuration
!./tmp/pids/.keep         # need to keep for puma configuration