# Sample .env file
# These properties need to be filled in in order for EBWiki to run properly
# Copy this to .env before running the development server

AWS_ACCESS_KEY_ID=fake_access_key_id
AWS_SECRET_KEY_ID=fake_secret_access_key
S3_BUCKET=fake_s3_bucket
FOG_DIRECTORY=fake_fog_directory
DATABASE_URL=postgres://localhost/blackops_development
REDIS_URL=redis://localhost:6379/0
SECRET_KEY_BASE=generate_with_rails_secret
MAILCHIMP_API_KEY=Get this from Mailchimp or talk to someone at EBWiki
MAILCHIMP_LINK=Get this from Mailchimp or talk to someone at EBWiki
MAILCHIMP_LIST_ID=Get this from Mailchimp or talk to someone at EBWiki
SEARCHBOX_URL='http://localhost:9200'
ELASTICSEARCH_URL='http://localhost:9200'
CODECLIMATE_REPO_TOKEN=EBWiki devs can provide a token if needed
EBWIKI_SITEMAP_URL=http://bow-sitemaps.s3.amazonaws.com/sitemaps/sitemap.xml.gz
GOOGLE_ANALYTICS_MEASUREMENT_ID=EBWiki devs can provide if needed
GOOGLE_TAG_MANAGER_ID=EBWiki devs can provide if needed
GOOGLE_MAPS_API_KEY=EBWiki devs can provide if needed
ROLLBAR_ACCESS_TOKEN=EBWiki devs can provide if needed
ROLLBAR_ENV=development
HOST=localhost
DEPLOY_REV=
RAILS_SERVE_STATIC_FILES=
RAILS_LOG_TO_STDOUT=
BLACKOPS_DATABASE_PASSWORD=fakepassword
