public/assets/* linguist-generated=true
* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.otf binary

