<h1> **ALERT** <%= @this_case.title %> removal:</h1>
<p>An EBWiki administrator has removed the <%= link_to @this_case.title, @this_case %> case from EBWiki.</p>
<p>Please feel free to let us know if this removal was in error.</p>
