<div class="well">
  <%= form_for [@this_case, @comment], :html => {:class => "form-inline", :role => "form"} do |f| %>
    <% if @comment.errors.any? %>
      <div class = "error.messages">
        <h2>Please correct the following errors:</h2>
        <ul>
          <% @comment.errors.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.text_area :content, rows: 4, class: "form-control", placeholder: "Comment on this case", required: 'required' %>
    </div>
    <div class="form-group">
      <div class="actions">
        <%= f.button :submit, class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>