

<div class="">
  <ul class="col-md-12">
    <% @comments.each do |comment| %>
      <li class="col-md-12">
        <small class="timeAgo"><span class="time-ago-label" datetime="<%= comment.created_at %>"></span> <%= link_to comment.user.name, user_path(comment.user) %></small>
        <p><%= simple_format comment.content %></p>
      </li>
    <% end %>
  </ul>
</div>
