<div class="detailBox">
  <div class="titleBox">
    <label>What People are saying:</label>
      <button type="button" class="close" aria-hidden="true">&times;</button>
  </div>
  <div class="actionBox">
    <ul class="commentList">
      <% @comments.each do |comment| %>
        <li>
            <div class="commenterImage">
              <img src="http://lorempixel.com/50/50/people/7" />
            </div>
            <div class="commentText">
                <p class=""><%= simple_format comment.content %></p>
            </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>