<li>
  <blockquote class="blockquote">
    <p><%= link_to_case_title(comment.commentable, 25) %> -- <%= comment_created_at(comment) %></p>
    <p><%= link_to_comment(comment, 100) %></p>
    <small><%= link_to_comment_user(comment) %></small>
  </blockquote>
</li>