<div class="chart-wrapper">
  <div class="chart-title background-gray">
    Recent Comments
  </div>
  <ul class="scroller">
    <% Comment.order(created_at: :desc).each do |comment| %>
      <li>
        <blockquote class="blockquote">
          <p><%= link_to truncate(Case.find(comment.commentable_id).title, length: 30), case_path(Case.find(comment.commentable_id)) %> -- <%= comment.created_at.strftime("%B %d, %Y") %></p>
          <p><%= link_to truncate(comment.content, length: 100), case_path(Case.find(comment.commentable_id)) %></p>
          <small><%= link_to User.find(comment.user_id).name, user_path(User.find(comment.user_id)) %></small>
        </blockquote>
      </li>
    <% end %>
  </ul>
</div>
