<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header"><%= @presenter.search_results_text %></h2>
      <div class="grid">
        <%= render partial: 'thumbnail', collection: @cases, as: :this_case %>
      </div>
      <%= paginate @cases %>
      <p><%= page_entries_info @cases %></p>
    </div>
  </div>
</div>
