<% if @article.links.count > 0 %>
  <h4 class="article_subheader">Additional Resources:</h4>
  <ul class="background-links" id="link-list">
    <% @article.links.each do |link| %>
      <li>
        <%= link_to link.url, "#{link.url}", target: '_blank' %> <span class="timeAgo">added <%= link.created_at.strftime("%b %d, %Y") %></span>
      </li>
    <% end %>
  </ul>
<% end %>