<% if @article.article_milestones.present? %>
  <div class="chart-wrapper">
    <div class="chart-title background-gray">
      Key Milestones
    </div>
    <div class="chart-stage">
     <table class='table leader-list'>
       <tr>
        <th>Date</th>
        <th>Milestone</th>
       </tr>

       <% @article.article_milestones.order(:date_occurred).each_with_index do |milestone, i| %>
         <tr>
           <td><small><%= milestone.date_occurred.strftime("%A, %b %d") %></small></td>
           <td><%= Milestone.find(milestone.milestone_id).title %></td>
         </tr>
       <% end %>
     </table>
    </div>
  </div>
<% end %>