<!-- the meta tag is for use with metamagic gem which generates 
     title and meta tags in conjunction with the metamagic
     method in app/views/layouts/application.html.erb 
     TODO: Create a view helper that works for all pages -->
<% meta title: "People tracking the case of #{@article.title}",
     description: "There are #{@article.followers.count} people tracking the case of #{@article.title} on EBWiki",
     keywords: %w("@article.subjects.first.name police violence people color")
%>
<%= render 'layouts/header' %>
<!-- Page Content -->
<div class="container">
  <% if @article.followers.present? %>
	<!-- Article Followers Gallery -->
		<div class="row">
	    <div class="col-lg-12">
        <h3 class="page-header">This case currently has <%= @article.followers.count %> follower<%= "s" if @article.followers.size > 1 %> tracking it on EBWiki.</h3>
				<h3 class="text-center"><%#= link_to 'Track this case', article_follows_path(@article), class: "btn btn-primary" %></h3>
      </div>
    </div>
		<div class="row">
      <div class="col-lg-12">
		    <% @article.followers.each do |follower| %>
			    <div class="col-lg-2 col-md-4 col-xs-12">
	          <div class="">             
	            <%= link_to image_tag(avatar_url(follower,200), :class => "img-responsive"), follower %>
	          </div>
		      </div>
		    <% end %>
		  </div>
	  </div>

    <!-- Map -->
    <!-- We may decide to include a map that shows where people following this case are located -->
  <% else %>
    <h3 class="page-header"> There is no one currently following this case.</h3>
    <h3 class="text-center"><%#= link_to 'Track this case', article_follows_path(@article), class: "btn btn-primary" %></h3>
	<% end %>
</div>


<!-- /.row -->

<script type="text/javascript">
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();
	});
</script>

