<h1>this is the articles index</h1>

<% @articles.each do |article| %>
	<h2><%= link_to article.title, article %></h2>
	<p>Published at <%=article.created_at.strftime('%b, %d, %Y') %></p>
	<p><%= truncate(article.content, length:200) %></p>
<% end %>
<% if user_signed_in? %>
	<%= link_to "New Article", new_article_path %>
<% end %>

