<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">All of these people were killed by the police...</h2>
        </div>
    </div>
    <!-- Gallery of cases -->
    <div class="row">	
	    <div id='front-gallery'>
	        <% @articles.each do |article| %>
		        <div class="col-lg-2 col-md-4 col-xs-2">					
		            <div class="thumbnail" >
			            <div class="imageWrapper galleryImage">
				            <% if article.video_url? &&  article.video_url != '' %>
										  <%= link_to image_tag('video-icon-small.png', :class => "video_icon"), article %>
										<% end %>	            		
				            <% if article.avatar? %>
				              <%= link_to image_tag(article.avatar.medium_avatar, :class => "img-responsive", data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "#{article.date.strftime("%m/%d/%Y")} - #{article.title} ", :content => "#{truncate(article.popover_content, length:200)}"}), article %>
				            <% else %>
				              <%= link_to image_tag('default-user-icon.png', :class => "img-responsive", data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "#{article.date.strftime("%m/%d/%Y")} - #{article.title} ", :content => "#{truncate(article.popover_content, length:200)}"}), article %>
									  <% end %>
			            </div>

			        </div>
			    </div>
	        <% end %>
	    </div>
    </div>
    <!-- End Gallery -->
    <!-- Map -->
    <div class="row">
	    <div class="col-lg-12 articleMap">
		  <div id='map'></div>	
	    </div>
	</div>
    <!-- End Map -->
</div>
<script type="">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  markers = handler.addMarkers(<%=raw @hash.to_json %>);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	});
</script>
