<h1> Past Incidents of Police Violence </h1>

<% @articles.each do |article| %>
	<h2><%= link_to article.title, article %></h2>
	<p>Incident Date: <%=article.date %></p>
	<p><%= truncate(article.content, length:200) %></p>
<% end %>

