<h1> **ALERT** <%= @article.title %> removal:</h1> 
<p>An EBWiki administrator has removed the <%= link_to @article.title, @article %> case from EBWiki.</p>
<p>Please feel free to let us know if this removal was in error.</p>
