<h1>Welcome <%= @user.name %>!</h1>
<p>Thanks for joining the EBWiki project. Our number one goal is to help you to stay on top of any developments in these cases.
  <%= follow_message(@user, @user.subscribed) %>
</p>

<p>Email us at endbiaswiki@gmail.com with any suggestions you have for ways EBWiki can be more helpful.</p>

<p>Thanks Again!</p>

<p>The EBWiki Team</p>