<h1>Welcome<%= @user.name %>!</h1>
<p>Thanks for joining the EBWiki project. Our number one goal is to help you to stay on top of any developments in these cases.
  <% if @user.subscribed %>
    As a newsletter subscriber, you'll receive our general updates periodically.
    <% if @user.all_following.count <= 0 %>
      Likewise, it is very important that you click to follow specific cases and allow us to keep you up to date. The more people paying attention, the easier it will be effect change.</p>
    <% else %>
      Likewise, you have already taken the first step by following <%= pluralize @user.all_following.count, "case" %> on EBWiki.  Thanks for allowing us to keep you up to date!
    <% end %>
  <% else %>
    <% if @user.all_following.count <= 0 %>
		  It is very important that you click to follow specific cases and allow us to keep you up to date. The more people paying attention, the easier it will be effect change.
		<% else %>
		  You have already taken the first step by following <%= pluralize @user.all_following.count, "case" %> on EBWiki and allowing us to keep you up to date. <%= link_to 'Subscribe to our newsletter as well', ENV['MAILCHIMP_LINK'] %> for periodic general updates and commentaries on this issue.
		<% end %>
  <% end %>
</p>

<p>Email us at endbiaswiki@gmail.com with any suggestions you have for ways EBWiki can be more helpful.</p>

<p>Thanks Again!</p>

<p>The EBWiki Team</p>