<% if @this_case.avatar? %>
	<%= image_tag(@this_case.avatar.medium_avatar, class: 'img-responsive') %>
<% else %>
	<%= image_tag('default-user-icon.png', size: '150x150', class: 'img-responsive') %>
<% end %>
<h4>Upload a new image to replace the current photo:</h4>
<%= f.file_field :avatar, id: 'lefile-article' %>
<div class='input-append'>
	<input id='photoCover_article' class='input-large' type='text'>
	<a class='btn btn-warning' id='avatar_browse'>Browse</a>
</div>