<div class="row">
  <div class="col-lg-3" style="text-align:center;">
    <%= image_tag(this_case[3]) %>
    <br>
    <%= link_to this_case[4], case_path(id: this_case[0]) %>
  </div>
  <div class="col-lg-9">
    <%= this_case[5] %>
  </div>
</div>