<!-- the meta tag is for use with metamagic gem which generates
     title and meta tags in conjunction with the metamagic
     method in app/views/layouts/application.html.erb
     TODO: Create a view helper that works for all pages -->
<% meta title: "EBWiki editing the case of #{@case.title}",
     description: "#{@case.overview.truncate(155)}",
     keywords: %w("@case.subjects.first.name police violence people color")
%>

<h1>Edit Case for "<%= @case.subjects.first.name %>"</h1>

<%= render 'form' %>

<%= link_to 'Back', root_path %>