<div class="container">
  <h1>History</h1>
  <h4>Any time any information about a case is updated, a new version is created. This page tracks the changes made to the case over time including summaries to explain those changes where possible. As of now, the changes to the following attributes are tracked: address fields, content sections for overview, community action and litigation as well as the case's title, date, photo and video links. <br><br>Properties not currently being tracked in case history include changes to subjects, comments and links. In the future we will capture those changes as well. In the meantime, editors should note that changes to these associations will not create a new version of the case.</h4>

  <ul>
    <% if @case_history %>
      <% @case_history.each_with_index do |version, i| %>
        <li>
          <b>Date:</b> <%= l(version.created_at, format: "%-d.%m.%Y %H:%M:%S %Z") %><br/>
          <% if i == @case_history.size - 1 %>
            <b>Added by:</b>
          <% else %>
            <b>Edited by:</b>
          <% end %>
            <% if version.whodunnit && version.whodunnit != 'Guest' %>
              <% user = User.find_by_id(version.whodunnit) %>
              <% if user %>
                <%= user.name %>
              <% end %>
            <% else %>
              Guest
            <% end %>
          <div>
            <b>Description of changes:</b>
            <% if version.comment.present? %>
              <pre><%= version.comment %></pre>
            <% else %>
              <pre>No edit summary is available for this version.</pre>
            <% end %>
          </div>
        </li>
      <% end %>
    <% else %>
      <h1>There is no history for this case.</h1>
    <% end %>
  </ul>
</div>