<h1>Edit Your User Profile:</h1>

<% if @user == current_user %>
	<%= render partial: 'user_form' %>
<% else %>
	<%= render partial: 'admin_form' if current_user.admin? %>
<% end %>

<div class="btn-group user-back">
<%= link_to 'Cancel', root_path, class: 'btn btn-primary btn-capitalized' %>
</div>
