<%= link_to 'New Calendar event', new_calendar_event_path, remote: true %>

<div class="calendar"></div>

<script type="text/javascript">
  $('.calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    selectable: true,
    selectHelper: true,
    editable: true,
    eventLimit: true,
    select: function(start, end) {
      $.getScript('/events/new', function() {
        $('#event_date_range').val(moment(start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(end).format("MM/DD/YYYY HH:mm"))
        date_range_picker();
        $('.start_hidden').val(moment(start).format('YYYY-MM-DD HH:mm'));
        $('.end_hidden').val(moment(end).format('YYYY-MM-DD HH:mm'));
      });
      calendar.fullCalendar('unselect');
    },
    events: '/calendar_events.json'
  });
</script>