<div class="row">
  <div class="spacer"></div>
  <div class="col-md-12">
    <div class="spacer"></div>
  </div>
 
  <div class="col-md-4" style= "margin-top: 40px;">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>
 
  <div class="col-md-8" style= "margin-top: 40px;">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if is_conversation %>
          <%= render 'conversations/form' %>
        <% else %>
          <%= render partial: 'conversations/conversation', collection: messages %>
        <% end %>
      </div>
    </div>
  </div>
 
</div>