<p id="notice"><%= notice %></p>

<h1>Agencies</h1>

<table class='table leader-list'>
  <tr>
    <th>Agency</th>
    <th>Updated</th>
    <th></th>
  </tr>

  <% @agencies.each do |agency| %>
    <%= render partial:'agency_row', locals: { agency: agency } %>
  <% end %>
 </table>

<br>

<%= link_to 'Add a New Agency', new_agency_path %>
