<p id="notice"><%= notice %></p>

<h1>Agencies</h1>

<table class='table leader-list'>
  <tr>
    <th></th>
    <th>Agency</th>
    <th>Updated</th>
  </tr>

  <%= agencies_list %>
 </table>

<br>

<%= link_to 'Add a New Agency', new_agency_path %>
