<p><%= "#{@recipient[0]}," %></p>
<br>
<p><%= link_to "#{@new_admin.name}", url_for(@new_admin)%> has been added as a new admin for EBWiki.</p>
<br>
<p>Thoughts or concerns?  Start a conversation in the Slack workspace.</p>
<br>
<p>Regards,</p>
<br>
<p>The EBWiki Team</p>
