<h1>About BlackOpsWiki:</h1>
<h3>Our Mission:</h3>
<p>Reviewing the police killings involving Michael Brown, Trayvon Martin and many other more recent, less publicized cases, it is clear that we have a problem in this country when it comes to the relationship between law enforcement and black citizens.</p>

<p>In the most egregious of these cases, especially where there is irrefutable, public documentation of police abuses in the form of video or audio recordings, we have often seen protests, violence and a spate of news stories. However, usually within a few weeks of the incident, public interest fatigues, the story fades from public discourse. Until the next video or recording surfaces and the process repeats itself. This pattern will not correct on its own.  It will repeat until someone stops it.</p>

<p>BlackOpsWiki is singularly devoted to ending the indiscriminant killing of black people by the police.</p>

<h3>The First Essential Step</h3>
<p>At BlackOpsWiki, we believe the first essential step in addressing this issue is to inventory the problem. At it's core, BlackOpsWiki will serve as a crowd-sourced repository of cases of killings and/or abuse of black people by law enforcement. Our goal is to be a common source of information and a mirror to the rest of America, keeping these cases in the forefront of our collective consciousness.</p>

<p>Having the repository in place, will allow us to extend the lives of these victims beyond the two-week attention span of the mainstream media to the purpose of enabling us to organize a collective response politically or otherwise.</p>

