<h1>EBWiki Guidelines for Adding Content:</h1>
<h3>Volunteer Editors:</h3>
<p>Our goal is to gather comprehensive and accurate data on cases of overreach and abuse by law enforcement against people of color
    <%= link_to '(Read More on Our Mission)', about_path %>. We rely on the contributions of volunteer editors to make this happen. Anyone with web access can edit or create articles on EBWiki. These volunteer editors are also able to watch pages and where there are disagreements on how to present facts,
        editors work together to arrive at an article that fairly represents the current facts as they are known and evidenced by external sources.</p>

<h3>How to Add a New Article</h3>
<p>To add a new article:
    <ol>
        <li>Login with an email and password</li>
        <li>Click the “Add an Article” Button in the Top right corner of the header</li>
        <li>Enter content in the fields as indicated (Date, Victim Name and State)</li>
        <li>Click to ‘Submit’</li>
    </ol>
</p>

<h3>How to Edit Existing Articles</h3>
<p>To edit existing content, login and view an article. Click on the Edit button beneath the image and you will be taken to the data entry form similar to the one for entering new data. Before beginning to contribute, however, please read these brief guidelines
    guidelines, as well as our about page. Depending on an article’s demonstrated susceptibility to vandalism, according to its visibility or the degree of controversy surrounding the topic, the edit button may not be shown for all users. (Vandals are
    reported via email to blackopswiki1@gmail.com and may be temporarily blocked from editing EBWiki.)</p>

<p>Most articles start as stubs, but after many contributions, they can become featured articles. In addition to research a case and writing an article themselves, users can write to us and request that we find out information on cases that we do not have
    listed.
</p>

<p>Above all, it is important to understand that in contributing to EBWiki, users are expected to be civil and factual, respecting all points of view, and only add verifiable and factual information rather than personal views and opinions. Verification includes
    articles, news stories and original documents. You can add as many inks as you like to support your edits and additions.</p>


<h3>Other helpful features</h3>
<p>In addition to the Edit Button, there are two other buttons beneath the image on every article page. These are:</p>

<p><b>History</b>. This button allows readers to view the editors of the article and the changes that have been made over time.</p>

<p><b>Follow</b>. If you are logged in to your account, clicking on the follow button will cause any changes made to the article to be relayed to you via email updates. (Note: when this button is clicked, it changes to “Following”.)</p>

<p>Note: EBWiki keeps track of all changes made to cases. This means that poor-quality edits or vandalism can be reversed or brought up to an appropriate standard by any other editor.
    As a result, inexperienced editors cannot accidentally do permanent harm if they make a mistake while editing. Unintentional mistakes can be fixed quickly when discovered.
    Intentional vandalism can be reported and corrected by anyone.</p>

<h3>Intellectual Property:</h3>
<p>Contributions remain the property of their creators, while the CC-BY-SA and GFDL licenses ensure the content is freely distributable and reproducible.</p>

<h3>Credits</h3>
<p>Text on EBWiki is a collaborative work, and the efforts of individual contributors to a page are recorded in that page's history, which is publicly viewable. Information on the authorship of images and other media, such as sound files, can be found by
    clicking on the image itself or the nearby information icon to display the file page, which includes the author and source, where appropriate, along with other information.</p>
