<h1> This is a page for testing out JavaScript </h1>
<p> The JS libraries with this Rails project are as follows:
<ul>
<li>jQuery JavaScript Library v1.11.2</li>
<li>Underscore.js 1.8.3</li>
<li>MomentJS 2.10.2</li>
</ul>
<p>One can add any libraries as desired as CDN links.</p>




