// Place all the styles related to the Agencies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-group {
  position:relative;
	float:left;
}
.btn-group.back{
    left:70%;
}
.btn-group.submit{
    left:69%;
}