// Place all the styles related to the Analytics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.return-link, .return-link:focus, .return-link:hover {
  text-decoration: none;
}

.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  /*min-height: 240px;*/
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

.container {
  padding-top: 10px;
}

.metric {
  font-size: 2.5em;
  font-weight: 900;
  padding: 0px;
  vertical-align: middle;
}

.space-below {
  padding-bottom: 5px;
}