// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-links{
	font-size: 1em;
	color: #fff;
}

.article_subheader{
	color: #999;
	font-weight: bold;
}

.page-header{
	text-align: center;
}

#front-gallery {
    max-height:500px;
    overflow-y:scroll;
    margin-bottom: 30px;
}
