// Place all the styles related to cases here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-orange: #F65732;
$color-gray: #666666;
$color-black: #000000;
$color-dark-gray: #4D4D4D;

.background-links{
  font-size: 1em;
  color: #fff;
}

.article_subheader{
  color: #999;
  font-weight: bold;
}

.page-header{
  text-align: center;
}

.side-leader{
  background:#de651b;
  color:#fff!important;
  padding:10px 0;
  text-align:center;
  margin-top: 40px;
  margin-bottom:0px!important;
}

#front-gallery {
    max-height:500px;
    margin-bottom: 30px;
}

.galleryImage {
  position: relative;
}

.video_icon {
  position: absolute;
  left:100px;
  top:100px;
  z-index: 10;
}

.articleImage {
  margin: 40px 0 15px 0;
  border-radius: 6px;
}

.case-title {
  text-align: left;
  padding-bottom: 30px;
}

.timeAgo {
  color:green;
}

.articleMap {
  width: 100%;
  padding-bottom: 10px;
}

.social-share-button {
  display: flex;
  height: 32px;
  justify-content: space-between;
}

.ssb-icon {
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
}

.case-btns {
  width: 100%;
}

.btn-group-justified {
    width: calc(100% - 30px);
    margin: 15px 0 15px 15px;
}

// modifying gallery inmages for hover effects
// http://tympanus.net/codrops/2011/11/02/original-hover-effects-with-css3/

//sets size and borders of gallery image
.view {
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

// superimposes "mask" class on image
.view .mask, .view .content {
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    color: #FFF;
    bottom: 0
}

// evenly spaces images
.view img {
    display: block;
    position: relative
}

// adds styling to header superimposed on image
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}

// styling paragraph text superimposed on image
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.view h5 {
    color: #fff;
}

// adds button style to "more info" link
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}

.view a.info2 {
    color: #fff;
}



// adds shadow when hovering over "more info" link
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

//transition-hover effects

//Example 1
.view-first img {
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(226,103,0, 0.7);
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
  transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
  transition: all 0.2s ease-in-out;
}

.view-first:hover img {
  transform: scale(1.1);
}
.view-first:hover .mask {
  opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
.view-first:hover .caption {
  display: none;
}

// Example 10

.view-tenth img {
  transform: scaleY(1);
  transition: all 0.7s ease-in-out;
}
.view-tenth .mask {
    background-color: rgba(255, 231, 179, 0.3);
    transition: all 0.5s linear;
    opacity: 0;
}
.view-tenth h2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
}
.view-tenth p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}
.view-tenth a.info {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}

.view-tenth:hover img {
  transform: scale(10);
    opacity: 0;
}
.view-tenth:hover .mask {
  opacity: 1;
}
.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info{
    transform: scale(1);
    opacity: 1;
}

.img-responsive {
  width: 100%;
}

form.case-btn {
  background-color: $color-orange;
  border: 1px solid white;
  border-radius: 5px;
}

input.case-btn {
  background-color: $color-orange;
  color: white;
  border: none;
}
.btn-group {
  position:relative;
  float:left;
}
.btn-group.back {
    left:62% !important;
}
.btn-group.submit {
    left:61% !important;
}

.btn.btn-warning {
    background: $color-orange !important;
    color: white !important;
}
.btn-remove {
  background-color: $color-gray !important;
  border-radius: 4px !important;
}
.rel-links {
  margin-top: -60px;
}

.btn-link {
  outline: none;
  border: 0px;
  box-sizing: none;
  background-color: transparent;
}

.form-submit {
  border-radius: 4px;
  .btn-primary.back {
    background-color: $color-gray;
  }
}
