// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color-orange: #F65732;
$color-gray: #666666;
$color-black: #000000;
$color-dark-gray: #4D4D4D;

.btn-social {
	color: white;
  opacity: 0.8;
}

.btn-social:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

.btn-facebook {
	background-color: #3b5998;
}

.btn-twitter {
	background-color: #00aced;
}

.btn-linkedin {
	background-color: #0e76a8;
}

.btn-google {
	background-color: #c32f10;
}

.userAvatar {
	padding-bottom: 50px;
	padding-top: 50px;
}

.userFollowing {
	position: relative;
	width: 118px;
	height: 120px;
}

.btn-group {
    position:relative;
	float:left;
}

.btn-group.back{
    left:70%;
}

.btn-group.submit{
    left:69%;
}

.btn-success{
  background-color: $color-orange !important;
}

.btn-group.back .btn-primary{
	background-color: $color-gray !important;
	border-color: $color-gray !important;
	color: white !important;
}

.btn-group.submit .btn-success{
	border-color: $color-orange !important;
}
