<h1>Thanks for joining us!</h1> 
<p><%= @user.name %>,</p>
<p>Thanks again for joining the EBWiki project. Our goal for EBWiki is to help people to stay abreast of any developments as these cases proceed beyond the initial incidents. We believe staying informed is the first step toward finally ending the callous disgregard for the lives of people of color by law enforcement.</p>

<% if @user.all_following.count <= 0 %>
  <p>With that in mind, it is very important that you take the allow us to keep you up to date on some cases. The more people paying attention, the easier it will be to hold people and systems accountable for these acts.</p>
<% else %>
  <p>You have already taken the first essential step by following <%= pluralize @user.all_following.count, "case" %> on EBWiki and allowing us to keep you up to date on new developments.</p>
<% end %>

<p>One more thing to remember: tell a friend or two about EBWiki and the work we are doing on behalf of victims of police violence and their families. The more we connect our community to this issue the more powerful we can be.</p>

<p>Thanks Again!</p>