<footer class="panel-footer">
    <p class="text-muted pull-right"><%= link_to image_tag('twitter.png', size: "50x20"), 'https://twitter.com/EndBiasWiki' %> | <%= link_to "The Blog", 'http://ebwiki.tumblr.com/' %> | <%= link_to "About Us", about_path %> | <%= link_to "Contribution Guidelines", guidelines_path %></p>
  
</footer>