<footer class="panel-footer">
    <p class="text-muted pull-right"><%= link_to "The Blog", storytime_path %> | <%= link_to "About Us", about_path %> | <%= link_to "Editors", guidelines_path %></p>
  
</footer>